.landing {
   margin-bottom: 10rem;

   &__introduction {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
   }

   &__aside {
      font-size: 1.3rem;
      color: wheat;
      margin-bottom: 25px;
      border-bottom: 1px solid wheat;
      padding-bottom: 10px;
   }

   &__quote {
      color: red;
   }

   &__title {
      color: white;
      font-size: 4rem;
      width: 85%;
      text-align: center;
   }

   &__footer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 25px;
      color: white;

      p {
         margin-bottom: 15px;
      }
   }
}
