.gym {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-bottom: 5rem;

   &__container {
      display: flex;
      justify-content: space-between;
      gap: 8rem;

      p {
         display: flex;
         align-items: center;
         font-size: 1.7rem;
         font-weight: 500;
         width: 40vw;
         color: white;
         text-align: center;
      }
   }

   &__logo {
      width: 20vw;
   }
}
