.nice {
   display: flex;
   flex-direction: column;
   color: white;
   margin-bottom: 35px;

   &__old {
      display: flex;
      justify-content: space-around;
      margin-bottom: 35px;
      p {
         font-size: 1.7rem;
         font-weight: 500;
         width: 40vw;
      }
   }

   &__image {
      margin: auto;
      width: 80%;
      border: 5px solid #ffdead;
   }
}
