.nice {
   display: flex;
   flex-direction: column;
   color: white;
   margin-bottom: 5rem;

   &__old {
      display: flex;
      justify-content: space-around;
      margin-bottom: 35px;
      p {
         display: flex;
         align-items: center;
         font-size: 2rem;
         font-weight: 400;
         width: 60vw;
         color: white;
         text-align: center;
         border-bottom: 4px solid red;
         padding-bottom: 1rem;
      }
   }

   &__image {
      margin: auto;
      width: 80%;
      border: 5px solid #ffdead;
   }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
   .nice {
      &__old {
         display: flex;
         flex-direction: column;
         gap: 1rem;
         p {
            margin: auto;
            width: 90vw;
         }
      }
   }
}
