.nice {
   display: flex;
   flex-direction: column;

   color: white;

   &__title {
      margin: auto;
      font-size: 2rem;
      border: 2px solid white;
      border-radius: 4px;
      padding: 10px;
      margin-bottom: 50px;
   }

   &__old {
      display: flex;
      justify-content: space-around;
      margin-bottom: 35px;
      p {
         font-size: 1.5rem;
         font-weight: 500;
         width: 40vw;
      }
   }

   &__image {
      margin: auto;
      width: 80%;
      border: 5px solid #ffdead;
   }
}
