.prom {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-bottom: 5rem;

   &__container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 4rem;

      p {
         display: flex;
         justify-content: center;
         align-items: center;
         margin: auto;
         font-size: 2rem;
         font-weight: 400;
         width: 60vw;
         color: white;
         text-align: center;
         border-bottom: 4px solid red;
         padding-bottom: 1rem;
      }
   }

   &__img {
      border: 2px solid wheat;
      width: 60vw;
      margin: auto;
   }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
   .prom {
      &__container {
         display: flex;
         flex-direction: column-reverse;
         gap: 2rem;
         p {
            margin: auto;
            width: 85vw;
            border-top: none;
            padding-bottom: 1rem;
            border-bottom: 4px solid red;
         }
      }
      &__img {
         width: 90vw;
      }
   }
}
