.prom {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-bottom: 5rem;

   &__container {
      display: flex;
      gap: 6rem;

      p {
         display: flex;
         align-items: center;
         font-size: 1.7rem;
         font-weight: 500;
         width: 35vw;
         letter-spacing: 2.5px;
         color: white;
         text-align: center;
         border-right: 4px solid red;
      }
   }

   &__quote {
      color: red;
      font-size: 5rem;
   }

   &__img {
      border: 2px solid wheat;
      width: 50vw;
   }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
   .prom {
      &__container {
         display: flex;
         flex-direction: column-reverse;
         gap: 2rem;
         p {
            margin: auto;
            width: 85vw;
            border-right: 4px solid red;
         }
      }
      &__img {
         width: 90vw;
      }
   }
}
